waved.example             package:waved             R Documentation

_W_a_v_e_D  _e_x_a_m_p_l_e_s

_D_e_s_c_r_i_p_t_i_o_n:

     Generate data sets and figures to illustrate the WaveD function.

_U_s_a_g_e:

     waved.example(pr = TRUE, gr=TRUE)

_A_r_g_u_m_e_n_t_s:

      pr: If pr=TRUE (default) uses the same parameters as in the
          reference paper below. If pr=FALSE user level parameter
          specifications. 

      gr: If gr=TRUE (default) text and graphical displays are
          provided.   

_V_a_l_u_e:

lidar.noisy: Noisy blurred LIDAR signal (Gaussian noise)

lidar.noisyT: Noisy blurred LIDAR signal (Student $t_2$ noise)

doppler.noisy: Noisy blurred Doppler signal (Gaussian noise)

doppler.noisyT: Noisy blurred Doppler signal (Student $t_2$ noise)

lidar.blur: Blurred LIDAR signal

doppler.blur: Blurred Doppler signal

       t: Rime vector scaled to  [0,1]

       n: Sample size

       g: Convolution kernel

   lidar: LIDAR signal

 doppler: Doppler signal.

    seed: Used in set.seed

   sigma: Noise standard deviation.

 g.noisy: Convolution kernel plus Gaussian noise.

g.noisyT: Convolution kernel plus Student $t_2$ noise.

     dip: Degree of Ill-posedness.

 k.scale: Scale of the convolution kernel

_A_u_t_h_o_r(_s):

     Marc Raimondo

_R_e_f_e_r_e_n_c_e_s:

     Raimondo, M. and Stewart, M. (2007), "The WaveD Transform in R",
     Journal of Statistical Software.

_S_e_e _A_l_s_o:

     'WaveD'

_E_x_a_m_p_l_e_s:

      
     data=waved.example(TRUE,FALSE)

